body {
  background-color: rgb(27, 26, 31);
  font-size: 16px;
  display: flex;
  justify-content: center;
}

p,
a,
h1,
h2,
h3 {
  margin: 0;
}

button, input {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main {
  max-width: 600px;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  border: solid 10px black;
  overflow: hidden;
  position: relative;
}

.top-header {
  width: 100%;
  height: 205px;
  overflow: hidden;
}

.header-bm {
  width: 100%;
  position: relative;
  z-index: 0;
  top: -20px;
}

.heading-1 {
  font-family: 'Metal Mania', cursive;
  color: white;
  position: relative;
  font-size: 2.5em;
  top: -320px;
  left: 64%;
}

.bm-sub {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  position: relative;
  font-size: 1.5em;
  top: -325px;
  left: 75%;
}

.items-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  height: 100%;
  padding: 20px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0 5px 0;
  box-sizing: border-box;
}

.item-holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.img-holder {
  max-width: 9em;
}

.guitar-image {
  width: 100%;
}

.text-holder {
  margin-left: 1.5em;
}
.guitar-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5em;
}

.character {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.875em;
}

.price {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5em;
  margin: 20px 0;
}

.order-btn {
  display: flex;
  align-items: center;
  align-content: center;
}

.btn-for-order {
  width: 45px;
  height: 45px;
  font-size: 1.5em;
  border-radius: 14px;
  transition: all 300ms;
}

.btn-for-order:hover {
  background-color: rgb(22, 22, 22);
}

.cart-section {
  padding: 25px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.your-order {
  font-family: 'Metal Mania', cursive;
  align-self: center;
  text-decoration: underline;
  font-size: 1.8em;
  display: none;
}

.items-here {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.total {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  column-gap: 15px;
}

.cart-guitar-name {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
}

.remove {
  text-decoration: underline 0.15em rgb(255, 255, 255);
  transition: all 300ms;
}

.remove:hover {
  text-decoration-color: black;
}

.sum-wrapper {
  border-top: solid 1px rgba(0, 0, 0, 0.23);
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
}

.the-total {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.checkout {
  width: 100%;
  height: 45px;
  background-color: transparent;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  color: black;
  border: solid 1.5px black;
  transition: all 300ms;
}

.checkout:hover {
  width: 100%;
  height: 45px;
  background-color: black;
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

/* PAGE CHECKOUT */

.full-page-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(46, 46, 46, 0.512);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 355px;
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

#form-name {
  background-color: white;
  border-radius: 1em;
}

